<div class='cta-bg'>
  <div class='relative w-full max-w-screen-narrow'>
    <span class='absolute dot-grid left-[-30px] bottom-[-30px]'></span>
    <div class='bg-white flex flex-col sm:flex-row justify-between items-center gap-[30px] py-[30px] px-[15px] sm:px-[30px]'>
      <p class="text-center sm:text-left h4">
        Take better control of your biological and contaminant removal process.
      </p>
      <a href="#"
      class="btn-solid px-[clamp(calc(1.5rem-2px),1.771vw,calc(2.25rem-2px))]">
        Schedule a Call
      </a>
    </div>
    <span class='absolute dot-grid right-[-30px] top-[-30px] rotate-180'></span>
  </div>
</div>


