{% if title is defined and title %}
  <div class="redactor flex flex-col gap-4 py-[30px] lg:py-[32px]">
    {% include "_partials/_heading.twig" with {
      text: title,
      htag: 'h1'
    } %}

    {% if intro is defined and intro %}
      <p class="lg:w-2/3 font-light text-[24px] leading-[31px] text-gray-700">
        {{ intro }}
      </p>
    {% endif %}
  </div>
{% endif %}

