{
  "endOfLine": "lf",
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 80,
  "twigPrintWidth": 80,
  "twigAlwaysBreakObjects": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.twig",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["./node_modules/prettier-plugin-twig-melody"]
}
