{% extends '_layouts/_base_page_layout.twig' %}


{% set careersPosts = [
  {
    date: 'Feb 20, 2022',
    title: 'Position Title',
    description: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    link: '#'
  },
  {
    date: 'Feb 20, 2022',
    title: 'Position Title',
    description: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    link: '#'
  }
] %}

{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'Careers',
    intro: '“Be the change” and make a difference in the future of clean water. Join the EOSi team and discover how Empowering Clean Water® offers a fulfilling career today — and a better future for the world tomorrow.'
  } %}
{% endblock %}

{% block pageContent %}
  <section class='flex flex-col gap-8'>
    {% include "_blocks/_entry_posts.twig" with {
      blk: {
        posts: careersPosts
      }
    } %}
  </section>
{% endblock %}

{% block pageFooter %}
  {% include '_partials/_cta.twig' %}
{% endblock %}
