{% extends '_layouts/_base_page_layout.twig' %}

{% set leadership = [
  {
    fullName: 'Samuel Ledwell',
    occupatio: 'President',
    profilePicture: './img/samuel-ledwell.jpg',
    description: 'Joining EOSi at the company’s 2003 inception, Sam has more than two decades industry-leadership experience with biological contaminant removal technologies, products, and services, specifically focused on developing EOSi’s MicroC® product portfolio of carbon sources and Nitrack® equipment and services.'
  },
  {
    fullName: 'Jeffrey Prellberg',
    occupatio: 'Vice President, Sales & Marketing',
    description: 'Jeff brings more than 30 years of water/wastewater treatment industry experience, including senior positions as Director of Global Service and Aftermarket and VP Municipal Business Development with Trojan Technologies, a Danaher company providing water and wastewater treatment technology and service solutions, and as part of the senior management team for Danaher’s USP Technologies business.'
  },
  {
    fullName: 'Rob Keeling',
    occupatio: 'Vice President, Operations',
    profilePicture: './img/rob-keeling.jpg',
    description: 'With more than 15 years of experience in supplier development, supply chain management, procurement, and operations, Rob manages EOSi’s global supplier development, raw material identification and procurement, risk management, rail-car fleet, inbound rail and truck logistics, and new manufacturing site development for our nationwide network of production facilities.'
  },
  {
    fullName: 'Ryan Coleman, P.E., LEED AP',
    occupatio: 'Director, Process Solutions & Programs',
    profilePicture: './img/ryan-coleman.jpg',
    description: 'A Professional Engineer registered in the state of Idaho, Ryan’s extensive wastewater operations and process knowledge includes hands-on experience in the protein industry, and managing industrial wastewater treatment plants for several companies in Colorado, Idaho, and Pennsylvania. Ryan led a series of BNR optimization initiatives successfully reducing effluent total nitrogen concentrations by more than 97 percent as Cargill, Inc.’s Environmental Manager, and managed construction and operation of facilities creating renewable clean energy from dairy waste.'
  },
  {
    fullName: 'Sandra L. Clark',
    occupatio: 'Director, Quality Management Systems',
    description: 'An ASQ Certified Manager of Quality and Organizational Excellence and ASQ Certified Quality Engineer, Sandra’s more than 25 years of quality management experience enables expanding and developing EOSi’s new quality processes to support product manufacturing, raw materials procurement, meeting and exceeding customer expectations, and creating value through company’s quality management system.'
  },
  {
    fullName: 'Michelle Murray',
    occupatio: 'Senior Accountant',
    profilePicture: './img/michelle-murray.jpg',
    description: 'With a dozen years of corporate accounting experience with EOSi, Design Mark Industries, and Calgreg Electronics, Michelle’s senior accountant responsibilities include processing all financial transactions, accounts receivable, accounts payable, and payroll duties, tax filing coordination with CPAs, creating specialized financial presentations, and compiling and presenting financial information for annual reports.'
  }
] %}

{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'About EOSi',
    intro: 'Empowering Clean Water® since 1998.'
  } %}
{% endblock %}

{% block pageContent %}
  <section class="flex flex-col gap-12">
    {% include '_blocks/_richText.twig' with {
      blk: {
        contents: '
          <p>Environmental Operating Solutions, Inc. (EOSi) provides biological contaminant-removal solutions, supplies, and technical services empowering water and wastewater treatment plant operators in their mission to deliver treated effluent water free of harmful nutrient pollution and chemical contaminants.</p>
          <p>EOSi’s renewable and non-hazardous product chemistries, full-service process monitoring and control programs, and on-time delivery and no-disruption supply chain are backed by our world-class team of technical experts — each personally dedicated to protecting and preserving our global water resources by reducing the threat of nutrient pollution.</p>
        '
      }
    } %}

    {% include '_blocks/_richText.twig' with {
      blk: { contents: '<h3>Meet Our Leadership Team</h3>' }
    } %}

    {% include '_blocks/_profiles.twig' with {
      blk: { profiles: leadership }
    } %}
  </section>
{% endblock %}

{% block pageFooter %}
  {% include '_partials/_cta.twig' %}
{% endblock %}
