{% extends '_layouts/_base_page_layout.twig' %}

{% set pageArticle %}
  <h2>We’re here to help.</h2>
  <p>Browse the resources below for our most common questions. If you don’t see what you’re looking for, please <a href='' class='font-bold text-blue-700'>contact us</a> for further assistance.</p>
{% endset %}

{% set accordions = [
  {
    heading: 'What are “carbon sources?”',
    contents: '<p>Carbon sources are organic compounds added to wastewater to promote bacterial growth 
    and reproduction essential to effective biological wastewater treatment. MicroC® Premium 
    Carbon Sources help establish or sustain this essential anaerobic biomass during periods of 
    low biochemical oxygen demand (BOD) of influent wastewater, and reduce harmful nutrients 
    and contaminants including nitrogen, phosphorus, perchlorate, and selenium.</p>'
  },
  {
    heading: 'Are any of the MicroC® products NSF certified?',
    contents: '<p>Yes, our MicroC® 4000 is NSF approved for drinking water applications. More information 
    is available at our Products webpage.</p>'
  },
  {
    heading: 'Are there any other compounds (micronutrients, nitrogen, phosphorus, etc.) in MicroC® 
    products?',
    contents: '<p>Some of our products naturally contain trace amounts of N&P. Some products are custom 
    formulated to contain micro and macronutrients. For more specific information, please 
    contact us directly.</p>'
  },
  {
    heading: 'Do I have to dilute MicroC® products to feed to my process?',
    contents: '<p>Dilution water and carrier water are not recommended as it compromises the biological 
    stability of the product. If dilutions are necessary, we recommend that fresh solutions are 
    made every 48 hours.</p>'
  },
  {
    heading: 'Does EOSi provide technical or application support for their products?',
    contents: '<p>EOSi has a broad offering of services and extensive resources to provide technical support 
    for your project. For a description of services, please refer to our Solutions webpage and for 
    additional information, please contact us directly</p>'
  },
  {
    heading: 'How can I obtain (M)SDS for MicroC® products?',
    contents: "<p>Please visit our Resources webpage and filter the content type for &quotSafety Data Sheets 
    (SDS)&quot to will find the most-up-to-date version of our SDS. If your MicroC® product's SDS is 
    not listed, please contact us directly with questions.
    </p>"
  }
] %}

{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'Frequently Asked Questions',
    intro: 'Information and answered to the most common questions that we get about EOSi, MicroC® and our services.'
  } %}
{% endblock %}

{% block pageContent %}
  <section class='flex flex-col gap-[48px]'>

    {% include "_blocks/_richText.twig" with {
      blk: {
        contents: pageArticle
      }
    } %}

    {% include "_blocks/_accordions.twig" with {
      blk: {
        accordions: accordions
      }
    } %}
  </section>
{% endblock %}

{% block pageFooter %}
  {% include '_partials/_cta.twig' %}
{% endblock %}
