{% extends '_layouts/_base_page_layout.twig' %}

{% set pageArticle %}
  <h2>We’re here to help.</h2>
  <p>Browse the resources below for our most common questions. If you don’t see what you’re looking for, please <a href='' class='font-bold text-blue-700'>contact us</a> for further assistance.</p>
{% endset %}

{% set accordions = [
  {
    heading: 'Are any of the MicroC® products NSF certified?',
    contents: '<p>Paragraph content</p>'
  },
  {
    heading: 'Are there any other compounds in MicroC® products?',
    contents: '<p>Paragraph content</p>'
  },
  {
    heading: 'Do I have to dilute MicroC® products to feed to my process?',
    contents: '<p>Paragraph content</p>'
  },
  {
    heading: 'Does EOSi provide technical or application support for their products?',
    contents: '<p>Paragraph content</p>'
  },
  {
    heading: 'How can I obtain (M)SDS for MicroC® products? ',
    contents: '<p>Paragraph content</p>'
  }
] %}

{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'Frequently Asked Questions',
    intro: 'Information and answered to the most common questions that we get about EOSi, MicroC® and our services.'
  } %}
{% endblock %}

{% block pageContent %}
  <section class='flex flex-col gap-[48px]'>

    {% include "_blocks/_richText.twig" with {
      blk: {
        contents: pageArticle
      }
    } %}

    {% include "_blocks/_accordions.twig" with {
      blk: {
        accordions: accordions
      }
    } %}
  </section>
{% endblock %}

{% block pageFooter %}
  {% include '_partials/_cta.twig' %}
{% endblock %}
