{% extends '_layouts/_generic_page_layout.twig' %}

{% block content %}
  <div class="mx-auto max-w-screen-desktop">
    <section>
      <div class="transition-[padding] px-[15px] py-[15px] narrow:py-[30px] bg-gray-100">
        <div class="flex flex-col gap-[15px] max-w-screen-narrow mx-auto items-center md:flex-row md:gap-8">
          <h1 class="transition-[font-size] flex-1 h2 text-center max-w-[378px] md:font-normal md:text-left desktop:text-6xl desktop:leading-[66px]">
            Never worry about your
            <span class="md:font-bold">wastewater permit</span>
            limits again.
          </h1>

          {# 3 : 2 #}
          <div class="flex-1 max-w-screen-md">
            <div class="relative w-full aspect-[3/2] lg:aspect-[5/3] rounded-md shadow-card overflow-hidden">
              <picture class="">
                <source media="(min-width: 768px)"
                  srcset="/img/water-plant-cover-720w.jpg" />
                <source media="(min-width: 1px)"
                  srcset="/img/water-plant-cover-375w.jpg" />
                <img data-src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3Cpath fill='%23C1CFDE' d='M0 0h3v2H0z'/%3E%3C/svg%3E"
                  class="w-full h-full"
                  loading="lazy"
                  alt="Water Plant Aerial Photograph" />
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="z-0 text-white bg-blue-700">
        <div class="px-4 py-8 md:py-[40px]">
          <div class="flex flex-col items-center gap-4 mx-auto md:max-w-[778px]">
            <p class="text-center h6">
              Empowering Clean Water® by enhancing the biological removal of
              harmful nutrients in wastewater.
            </p>
            <button type="button"
              data-video="https://www.youtube.com/watch?v=DKb9LRCXLDY"
              class="flex gap-2 btn-base btn-compact hover:btn-solid">
              <svg class="w-6 h-6">
                <use href="#svg-icon-play-circle" />
              </svg>
              <span class="pr-1 text-base font-bold leading-9">
                See How it Works
              </span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Problem -->

    <section>
      <div class="transition-[padding] px-[15px] bg-white py-[30px] lg:py-[60px]">
        <div class="flex flex-col gap-8 pb-10 mx-auto max-w-screen-narrow">
          <div class="flex flex-col items-center justify-between gap-4 md:flex-row md:gap-8">
            <div class="">
              {% include '_partials/_computer_monitor.svg.twig' %}
            </div>
            <div class="flex-1 max-w-[888px]">
              <div class="md:flex md:flex-col md:gap-[30px]">
                <div class="max-w-[360px] mx-auto sm:max-w-none">
                  <p class="text-center h2 md:text-left">
                    Are you having issues with your wastewater treatment
                    process?
                  </p>
                </div>
                <ul class="flex flex-col divide-y max-w-[276px] mx-auto text-center divide-gray-300 text-gray-700 text-lg md:flex-row md:divide-y-0 md:max-w-[888px] md:text-left md:gap-6 md:mx-0 md:justify-between">
                  {% for li in [
                    '<strong>Inconsistent</strong> nutrient removal levels.',
                    '<strong>Inaccurate</strong> supplemental carbon dosing.',
                    '<strong>Inadequate</strong> delivery and product quality.'
                  ] %}
                    <li class="text-[22px] py-[30px] flex-1 max-w-[276px] md:py-0">
                      {{ li|raw }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Solution -->

    <section>
      <div class="px-[15px] bg-gray-100">
        <div class="mx-auto max-w-screen-narrow">
          <div class="flex flex-col items-center">
            <h2 class="inline-flex items-center justify-center py-4 mx-auto text-2xl font-bold leading-9 text-white bg-blue-700 rounded-full -mt-[34px] px-14 mb-10">
              Let’s fix it.
            </h2>
            <div class="relative flex flex-col w-full gap-[30px] lg:flex-row lg:justify-between lg:items-center lg:py-24">
              <div class="relative flex flex-col max-w-3xl gap-12 lg:w-[684px]">
                <div class="relative">
                  <p class="relative text-3xl font-bold leading-10 text-center lg:font-normal lg:text-left lg:text-[44px] lg:leading-[48px] z-10">
                    <strong class="relative font-bold">
                      Take better control
                    </strong> of your biological and contaminant removal process.
                  </p>
                </div>
                <div class="mx-auto">
                  <ul class="flex flex-col gap-12">
                    {% for li in [
                      {
                        title: 'Achieve Compliance',
                        contents: 'Leverage our experience in ever-changing permit requirements and regulations.'
                      },
                      {
                        title: 'Minimize Operational Risk',
                        contents: 'Reduce your risk with consistent on-time delivery and premium product quality.'
                      },
                      {
                        title: 'Optimize Removal Costs',
                        contents: 'Take the guesswork out of dosing and cut cost-per-pound of nutrients removed.'
                      }
                    ] %}
                      <li class="flex flex-row gap-6">
                        <div class="li-check"></div>
                        <div class="flex flex-col gap-2">
                          <p class="text-2xl font-bold leading-9 lg:text-[32px] lg:leading-[42px] lg:font-extrabold">
                            {{ li.title }}
                          </p>
                          <p class="text-lg leading-6 text-gray-700 lg:text-[22px] lg:leading-[36px]">
                            {{ li.contents }}
                          </p>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="relative my-16 max-w-[480px] mx-auto before:dots-pattern before:content-[''] before:hidden md:before:block after:hidden md:after:block before:absolute before:w-24 before:h-24 before:-top-[30px] md:before:-left-[30px] before:z-0 after:dots-pattern after:content-[''] after:absolute after:w-24 after:h-24 after:-bottom-[30px] after:z-0 after:right-0 lg:w-[480px] md:after:-right-[30px] lg:my-0">
                <div class="relative z-10 flex flex-col items-center h-full gap-[15px] bg-white rounded-lg p-[15px] md:p-[30px]">
                  <h3 class="font-bold text-[44px] leading-[48px]">
                    We can help.
                  </h3>
                  <p class="text-center p">
                    Learn how you can optimize your removal process reliably and
                    cost-effectively.
                  </p>
                  <footer class>
                    <a href="/lead-form" class="btn-solid">Schedule a Call</a>
                    <p class="font-bold text-base leading-[48px] text-center">
                      Or Call 866-642-7621
                    </p>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
