{% extends '_layouts/_base_page_layout.twig' %}

{% set cards = [
  {
    heading: 'Cost Effective',
    description: 'Measured dollar per pound of contaminant removed, MicroC products consistently deliver the most cost-effective carbon sources available in the industry.',
    coverPicture: 'img/cover-pc.jpg',
  },
  {
    heading: 'Consistent Quality',
    description: 'MicroC products undergo rigorous quality assurance and quality control programs and multiple inspections to assure product reliability, consistency, and superior performance.',
    coverPicture: 'img/cover-quality.jpg',
  },
  {
    heading: 'Industry Validated',
    description: 'MicroC products are in active use at more than 550 plants in North America, and approved by all leading equipment and process suppliers, consultants, and academic institutions.',
    coverPicture: 'img/cover-industry.jpg',
  }
] %}

{% block pageHeader %}
	{% include '_partials/_page_header.twig' with {
    title: 'Why Choose MicroC®?',
    intro: 'Achieve your contaminant-removal goals for wastewater biological treatment systems and biochemical oxygen demand (BOD) augmentation with MicroC® Premium Carbon Sources.   '
  } %}
{% endblock %}

{% block pageContent %}
	<section>
		<div class="mt-8">
			<div class='grid md:grid-cols-2 lg:grid-cols-3 gap-[30px]'>
				{% for card in cards %}
					{% include "_partials/_card.twig" with {
          heading: card.heading,
          description: card.description,
          coverPicture: card.coverPicture,
          link: card.link
        } %}
				{% endfor %}
			</div>

			{% include "_partials/_product_card.twig" with {
        heading: 'And we’re eco-sustainable!',
        text: 'MicroC products enjoy a USDA BioPreferred designation — biodegradable and “green” by-products and co-products mostly derived from abundant and renewable resources produced in the USA and from other industries.'
      } %}

			<div class="grid grid-cols-1 gap-[60px] lg:grid-cols-2 lg:gap-x-[30px]">
				{% include "_partials/_product_grid_item.twig" with {
          borderColor: "bg-secondary",
          heading: "MicroC® 1000",
          url: "/product-template",
          content: '
            <p><strong>Carbohydrate-based</strong> and nonhazardous MicroC® 1000 products are best suited for small municipal, package/decentralized and commercial/residential wastewater treatment facilities.</p>
          ',
        } %}
				{% include "_partials/_product_grid_item.twig" with {
          borderColor: "bg-emphasis",
          heading: "MicroC® 2000",
          url: "/product-template",
          content: '
            <p>Glycerin-based MicroC 2000 series products are the most cost-effective non-hazardous carbon sources on the market.</p>
          ',
        } %}
				{% include "_partials/_product_grid_item.twig" with {
          borderColor: "bg-red",
          heading: "MicroC® 3000",
          url: "/product-template",
          content: '
            <p><strong>Alcohol-based</strong> MicroC® 3000 series products are best suited for municipal and industrial wastewater treatment plants seeking to enhance performance and save money by avoiding using pure methanol.</p>
          ',
        } %}
				{% include "_partials/_product_grid_item.twig" with {
          borderColor: "bg-purple",
          heading: "MicroC® 4000",
          url: "/product-template",
          content: '
            <p><strong>Custom formulations</strong> for sensitive and/or specialized applications, MicroC® 4000 series products are used in applications involving selenium removal, drinking water contaminant removal, perchlorate removal, and more.</p>
          ',
        } %}
			</div>
		</div>
	</section>
{% endblock %}

{% block pageFooter %}
	{% include '_partials/_cta.twig' %}
{% endblock %}
