{% extends '_layouts/_base_page_layout.twig' %}

{% set newsPosts = [
  {
    date: 'Feb 20, 2022',
    title: 'Axius Water 2020 Sustainability Overview',
    description: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    link: '/news-detail'
  },
  {
    date: 'Feb 20, 2022',
    title: 'Axius Water 2020 Sustainability Overview',
    description: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    link: '/news-detail'
  },
  {
    date: 'Feb 20, 2022',
    title: 'Axius Water 2020 Sustainability Overview',
    description: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    link: '/news-detail'
  },
  {
    date: 'Feb 20, 2022',
    title: 'Axius Water 2020 Sustainability Overview',
    description: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    link: '/news-detail'
  }
] %}

{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'News & Press',
    intro: 'News, updates and press about EOSi and other related industry happenings. Join our email newsletter to get the latest news right in your inbox.'
  } %}
{% endblock %}

{% block pageContent %}
  <section class='flex flex-col gap-8'>
    {% for post in newsPosts %}
      {% include '_partials/_post_item.twig' with {
        date: post.date,
        title: post.title,
        description: post.description,
        link: post.link
      } %}
    {% endfor %}
  </section>
{% endblock %}

{% block pageFooter %}
  {% include '_partials/_cta.twig' %}
{% endblock %}
