{% extends '_layouts/_base_page_layout.twig' %}

{% set pageIntro %}
  <p>Environmental Operating Solutions, Inc. (EOSi) provides biological contaminant-removal solutions, supplies, and technical services empowering water and wastewater treatment plant operators in their mission to deliver treated effluent water free of harmful nutrient pollution and chemical contaminants.</p>
  <p>EOSi’s renewable and non-hazardous product chemistries, full-service process monitoring and control programs, and on-time delivery and no-disruption supply chain are backed by our world-class team of technical experts — each personally dedicated to protecting and preserving our global water resources by reducing the threat of nutrient pollution.</p>
{% endset %}


{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'Axius Water 2020 Sustainability Overview',
    intro: 'Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.',
    postDate: 'Feb 20, 2022' 
  } %}
{% endblock %}

{% block pageContent %}
  <section class='flex flex-col gap-12 mt-[32px]'>
    {% include "_blocks/_richText.twig" with {
      blk: {
        contents: pageIntro
      }
    } %}
  </section class='flex flex-col gap-12'>

{% endblock %}

{% block pageFooter %}
  {% include '_partials/_cta.twig' %}
{% endblock %}
