{% extends '_layouts/_base_page_layout.twig' %}


{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'Pardot',
  } %}
{% endblock %}

{% block pageContent %}
  <section class='flex flex-col gap-[48px]'>

      <iframe src="https://go.microc.com/l/897151/2022-06-17/9zw88"
        width="100%"
        height="500"
        type="text/html"
        frameborder="0"
        allowTransparency="true"
        style="border: 0"></iframe>

  </section>
{% endblock %}
