{% extends '_layouts/_base_page_layout.twig' %}

  {% set formFields = [
    {
    type: 'text',
    name: 'name',
    label: 'Name',
    required: true
    },
    {
    type: 'tel',
    name: 'phone',
    label: 'Phone',
    required: true
    },
    {
    type: 'email',
    name: 'email',
    label: 'Email',
    required: true
    },
    {
    type: 'text',
    name: 'company',
    label: 'Company',
    required: true
    },
  ] %}

{% block pageHeader %}

  {% include '_partials/_page_header.twig' with {
  title: 'SDS & Technical Documents',
  } %}

{% endblock %}

{% block pageContent %}
<section  class='flex flex-col gap-3 divide-y divide-gray-300 redactor '>
   <div class="mt-8 h1">Step 1</div>
   <div>
      <div class="max-w-[1112px] mx-auto py-12 w-full">
         <div class="flex flex-col gap-12 lg:flex-row">
            <div class="lg:max-w-[276px] pt-4">
               <div class="p-4 text-white bg-blue-500 rounded-md text-[22px] leading-9 ">Complete form, then receive an email link to access the SDS library.</div>
            </div>
            <div class="w-full">
              <form method="post" action='' class="grid lg:grid-cols-2 gap-x-12 gap-y-10">
                <!-- set action -->
                {% for field in formFields %}
                  {% include "_fields/_" ~ field.type ~ ".twig" with {
                  field: field
                  } %}
                {% endfor %}
                <div class='text-center col-span-2'>
                   <a href="/sds-form-detail" class="btn-solid-blue text-lg font-semibold leading-[21.15px]">
                      Request Files
                  </a>
                </div>
             </form>
          </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}

{% block pageFooter %}

{% include '_partials/_cta.twig' %}

{% endblock %}
