/**
 * components/typography.css
 *
 * Typography rules.
 *
 * @Author: webrgp
 * @Date: 2022-04-28 16:07:33
 * @Last Modified by: webrgp
 * @Last Modified time: 2022-06-13 19:09:06
 *
 */

* {
  @apply antialiased;
}

@layer components {
  .redactor {
    /* Base style reset */
    @apply font-sans text-base;
  }

  .anchor,
  .redactor a {
  }

  .h1,
  .redactor h1 {
    @apply text-3xl leading-[39px] font-bold lg:text-[44px] lg:leading-[48px];
  }

  .h2,
  .redactor h2 {
    @apply text-[32px] leading-[41.6px] font-bold lg:text-[38px] lg:leading-[45.6px];
  }

  .h3,
  .redactor h3 {
    @apply text-2xl leading-[31.2px] font-bold lg:text-[32px] lg:leading-[42px];
  }

  .h4,
  .redactor h4 {
    @apply text-[22px] leading-[30.8px] font-semibold lg:text-2xl lg:leading-[31.2px];
  }

  .h5,
  .redactor h5 {
    @apply text-[19px] leading-[26.6px] font-normal lg:text-[22px] lg:leading-[28.6px];
  }

  .p,
  .redactor p {
    @apply text-[18px] leading-[25.2px] font-normal lg:text-[22px] lg:leading-[36px];
  }

  .ul,
  .redactor ul {
  }

  .ol,
  .redactor ol {
  }
}
