{# prettier-ignore-start #}
{% extends '_layouts/_generic_page_layout.twig' %}

{% block content %}
	<div class="mx-auto max-w-screen-desktop">
		<div class="page-header-bg">
			<div class="px-[15px]">
				<div class="flex flex-col mx-auto max-w-screen-narrow">
					<div>
						{% block pageHeader %}{% endblock %}
					</div>
					{% block contentBody %}

            {% set pContent = block('pageContent') %}
            {% set pSidebar = block('pageSidebar') %}

            {% embed "_partials/_pageContentEmbed.twig" %}
              {% block mainPageContent %}
                {{ pContent }}
              {% endblock %}
              {% if pSidebar %}
                {% block pageSidebarContent %}
                  {{ pSidebar }}
                {% endblock %}
              {% endif %}
            {% endembed %}

          {% endblock %}
				</div>
			</div>
			{% block pageFooter %}{% endblock %}
		</div>
	</div>
{% endblock %}
{# prettier-ignore-end #}
