{# -- Base Layout template for HTML pages -- #}
{#
  This is the layout template that is inherited by pages and other layouts.
#}
{% extends '_boilerplate/_base_html_layout.twig' %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}

{% endblock %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="manifest" href="/manifest.webmanifest" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="{{ mix('/css/app.css') }}" />
{% endblock %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}

{% endblock %}

{# -- Page body -- #}
{% block bodyHtml %}
  {% include '_partials/_svg_symbols.svg.twig' %}
  {# -- Info header, including _navbar.twig -- #}
  {% block siteHeader %}{% endblock %}
  <div id="page-container" class="leading-tight">
    <div id="component-container"></div>
    <div id="content-container">
      <main>
        {# -- Primary content block -- #}
        {% block content %}{% endblock %}
      </main>
    </div>

    {# -- Info footer -- #}
    {% block siteFooter %}{% endblock %}

    {# -- HTML Footer -- #}
    {% include '_partials/_global_footer.twig' %}
  </div>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
  <script src="{{ mix('/js/manifest.js') }}"></script>
  <script src="{{ mix('/js/vendor.js') }}"></script>
  <script src="{{ mix('/js/app.js') }}"></script>

  <!-- Ybug code start (https://ybug.io) -->
  <script type='text/javascript'>
  if (window.location.host === "eosi-frontend.netlify.app") {
    (function() {
      window.ybug_settings = {"id":"2jthgkzzyyyb1mp45m3r"};
      var ybug = document.createElement('script'); ybug.type = 'text/javascript'; ybug.async = true;
      ybug.src = 'https://widget.ybug.io/button/'+window.ybug_settings.id+'.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ybug, s);
    })();
  }
  </script>
<!-- Ybug code end -->
{% endblock %}
