{% if blk is defined and blk and blk.accordions is defined and blk.accordions %}
  <div class="flex flex-col gap-6">
    {% for accBlk in blk.accordions %}
      {% include '_partials/_accordion.twig' with {
        heading: accBlk.heading,
        contents: accBlk.contents
      } %}
    {% endfor %}
  </div>
{% endif %}
