{% if blk is defined and blk and blk.profiles is defined and blk.profiles %}
  <div class="flex flex-col gap-12">
    {% for profile in blk.profiles %}
      {% include '_partials/_profile_item.twig' with {
        fullName: profile.fullName,
        occupatio: profile.occupatio,
        description: profile.description,
        profilePicture: profile.profilePicture
      } %}
    {% endfor %}
  </div>
{% endif %}